@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belleza&display=swap');
/*
 (O * indica que as configurações são globais
 */
* {
    margin: 0;/*margem*/
    padding: 0;/*acolchoamento*/
    box-sizing: border-box; /*bordas da caixa*/
    /*dimensionamento da caixa*/
}
/*Configurações do corpo do site global*/
body {
    width: 100%; /*width - largura*/
    height: 100vh; /*height - altura*/
}
/*Configurações do cabeçalho do site global*/
header {
    max-width: 1680px; /*largura máxima*/
    width: 100%; /*largura 100%*/
    height: 70px; /*Altura 70px*/
    margin: 0 auto; /*Margem zero e automática*/
    display: flex; /*Exibição flexível*/
    align-items: center; /*Alinhar os ítens ao centro*/
    justify-content: space-around; /*justificar o conteúdo - espaço ao redor*/
    background: rgba(0, 0, 0, 0.7); /*Fundo*/
    position: absolute; /*Posição: absoluta*/
    left: 0; /*Esquerda zero*/
    right: 0; /*Direita zero*/
    z-index: 99; /*ïndice Z*/
}

header .logo img {
    width: 120px;
    margin: 0 60px;
}

header .menu ul {
    display: flex;
    padding: 0 150px;
}

header .menu ul li {
    list-style: none;
    padding: 0 30px;
}

header .menu ul li a {
    font-family: 'Belleza' sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    color: #b48c56;
}

header .menu ul li a:hover {
    color: #f2d2a3;
    text-decoration: underline;
}

section .container {
    max-width: 1680px;
    width: 100%;
    height: 85vh;
    margin: 0 auto;
}

#home .container {
    background: url(image/bg1.png) no-repeat;
    background-size: cover;
}

#home .container .content {
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 60px;
}

#home .container h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: 200px;
    margin-bottom: 40px;
    color: #302725;
}

#home .container .content p {
    font-family: 'Belleza' sans-serif;
    font-size: 1.3rem;
    color: #737373;
    margin-bottom: 120px;
    margin-top: 40px;
}

#home .container .content span {
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
    color: #b48c56;
    letter-spacing: 5px;
}

#home .container .content button {
    padding-top: 200px;
}

#home .container .content .button button {
    padding: 10px 20px;
    border: none;
    background: #b48c56;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

#home .container .content .button button:hover {
    transform: scale(1.1);
}

#home .container .content button.btn2 {
    background: #302725;
    padding: 15px 20px;
    position: relative;
    right: 5px;
}

/*.....HOME.....*/

/*.....BRANCH - RAMO.....*/

#branch .container {
    background: url(image/bg3.png) no-repeat;
    background-size: 100% 100%;
}

#branch .container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}

#branch .container .title .line {
    /*width  - largura
      height - altura*/
    width: 150px;
    height: 2px;
    background: #b48c56;
}

#branch .container .title h1 {
    /*font-weight - espessura da fonte
      weight - peso*/
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 15px; /*letter-spacing - espaçamento entre letras*/
    margin-top: 20px;
}

#branch .container .content {
    width: 100%;  /*Largura*/
    height: 90vh; /*Altura*/
    display: flex;
    justify-content: space-evenly; /*justificar-conteúdo: espaçar uniformemente;*/
}
/*cntainer - recipiente*/
#branch .container .content .box {
    width: 25%; /*Largura*/
    height: 60vh; /*Altura*/
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

#branch .container .box h3 {
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    letter-spacing: 8px; /*espaçamento entre letras*/
    background: #b48c56;
    padding: 5px 10px;
    color: #f0f8ff;
    border-radius: 5px;
}

#branch .container .box img {
    width: 120px;
}

#branch .container .box h1 {
    font-size: 2rem;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 20px;
}

#branch .container .box p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;
    letter-spacing: 5px;
    color: #b48c56;
    margin-top: 60px;
}

#branch .container .box button {
    padding: 10px 20px; /*preenchimento*/
    border: none;
    background: #302725;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-top: 50px;
    cursor: pointer;
    transform: translateY(-40px); /*translate - traduzir*/
    opacity: 0;
    visibility: hidden; /*hidden - escondida*/
    transition: all 0.5s ease; /*ease - facilidade*/
}
                      /*hover - flutuar*/
#branch .container .box:hover button {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
}

/*.....ABOUT - SOBRE.....*/
#about .container {
    background: url(image/bg2.png) no-repeat; /*no-repeat - não repita*/
    background-size: 100% 100%;
}

#about .container .title {
    width: 70%; /*largura*/
    display: flex; /*exibição: flexível*/
    align-items: flex-end; /*alinhar-itens: extremidade-flexível*/
    justify-content: center; /*justificar-conteúdo: centro*/
    flex-direction: column; /*direção flexível: coluna*/
    padding-top: 100px; /*acolchoamento superior*/
}

#about .container .title line {
    width: 150px;
    height: 2px;
    background: #b48c56;
}

#about .container .title h1 {
    margin-top: 20px; /*margem superior*/
    text-transform: uppercase; /*transformação de texto: maiúsculas*/
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 15px;
}

#about .container .title .call {
    width: 50%;
    display: flex;
    flex-direction: column; /*direção flexível: coluna*/
    align-items: flex-start; /*alinhar-itens: início-flexível*/
    justify-content: center;
    position: relative;
    top: 100px;
    left: 200px;
}

#about .container .title .call h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 80px;
    letter-spacing: 10px;
}

#about .container .title .call p {
    font-size: 1.3rem;
    font-family: 'Belleza', sans-serif;
    letter-spacing: 1px;
}

#about .container .title .call button {
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    background: #302725;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

#about .container .title .call button:hover {
    transform: scale(1);
    border: 2px solid #302725;
    background: none;
    color: #302725;
    font-weight: 600;
}
/*.....PRODUCTS.....*/
#products .container {
    background: url(image/bg3.png) no-repeat;
    background-size: 100% 100%;
}

#products .container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#products .container .title .line {
    width: 150px;
    height: 2px;
    background: #b48c56;
}

#products .container .title h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-top: 20px;
}

#products .container .card {
    width: 60%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#products .container .card .box {
    width: 100%;
    height: 45vh;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#products .container .card .box .icon {
    width: 50px;
    height: 60px;
    background: #302725;
    text-align: center;
    line-height: 80px;
    margin-top: 60px;
    cursor: pointer;
}

#products .container .card .box .icon ion-icon {
    color: #f0f8ff;
    font-size: 1.6rem;
}

#products .container .card .box img {
    width: 100px;
    margin-top: 35px;
}

#products .container .card .box h1 {
    margin-top: 30px;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

#products .container .card .box p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    letter-spacing: 3px;
    color: #b48c56;
    margin-top: 15px;
}

.owl-dot {
    width: 15px;
    height: 15px;
    outline: none!important; /*delinear nenhum*/
    border-radius: 50%;
    border: 3px solid #b48c56!important;
}

.owl-dot.active {
    width: 45px;
    border-radius: 15px;
}
/*.....TEAM.....*/
#team .container {
    background: url(image/bg4.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px;
}

#team .container .content {
    width: 40%;
    height: 40vh;
}

#team .container .content p {
    font-family: 'Belleza', sans-serif;
    font-size: 1+2rem;
}

#team .container .content .image img {
    width: 100px;
    height: 100px;
}