@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belleza&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    max-width: 1680px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}

header .loggo img {
    width: 120px;
    margin: 0 60px;
}

header .menu ul {
    display: flex;
    padding: 0 150px;
}

header .menu ul li {
    list-style: none;
    padding: 0 30px;
}

header .menu ul li a {
    font-family: 'Belleza' sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    color: #b48c56;
}

header .menu ul li a:hover {
    color: #f2d2a3;
    text-decoration: underline;
}

section .container {
    max-width: 1680px;
    width: 100%;
    height: 85vh;
    margin: 0 auto;
}

#home .container {
    background: url(image/bg1.png) no-repeat;
    background-size: cover;
}

#home .container .content {
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 60px;
}

#home .container h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: 200px;
    margin-bottom: 40px;
    color: #302725;
}

#home .container .content p {
    font-family: 'Belleza' sans-serif;
    font-size: 1.3rem;
    color: #737373;
    margin-bottom: 120px;
    margin-top: 40px;
}

#home .container .content span {
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
    color: #b48c56;
    letter-spacing: 5px;
}

#home .container .content button {
    padding-top: 200px;
}

#home .container .content .button button {
    padding: 10px 20px;
    border: none;
    background: #b48c56;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

#home .container .content .button button:hover {
    transform: scale(1.1);
}

#home .container .content button.btn2 {
    background: #302725;
    padding: 15px 20px;
    position: relative;
    right: 5px;
}

/*.....HOME.....*/

/*.....BRANCH - RAMO.....*/

#branch .container {
    background: url(image/bg3.png) no-repeat;
    background-size: 100% 100%;
}

#branch .container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}

#branch .container .title .line {
    /*width  - largura
      height - altura*/
    width: 150px;
    height: 2px;
    background: #b48c56;
}

#branch .container .title h1 {
    /*font-weight - espessura da fonte
      weight - peso*/
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 15px; /*letter-spacing - espaçamento entre letras*/
    margin-top: 20px;
}

#branch .container .content {
    width: 100%;  /*Largura*/
    height: 90vh; /*Altura*/
    display: flex;
    justify-content: space-evenly; /*justificar-conteúdo: espaçar uniformemente;*/
}
/*cntainer - recipiente*/
#branch .container .content .box {
    width: 25%; /*Largura*/
    height: 70vh; /*Altura*/
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

#branch .container .box h3 {
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    letter-spacing: 8px; /*espaçamento entre letras*/
    background: #b48c56;
    padding: 5px 10px;
    color: #f0f8ff;
    border-radius: 5px;
}

#branch .container .box img {
    width: 120px;
}

#branch .container .box h1 {
    font-size: 2rem;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 20px;
}

#branch .container .box p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;
    letter-spacing: 5px;
    color: #b48c56;
    margin-top: 60px;
}

#branch .container .box button {
    padding: 10px 20px; /*preenchimento*/
    border: none;
    background: #302725;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-top: 50px;
    cursor: pointer;
    transform: translateY(-35px); /*translate - traduzir*/
    opacity: 0;
    visibility: hidden; /*hidden - escondida*/
    transition: all 0.5s ease; /*ease - facilidade*/
}
                      /*hover - flutuar*/
#branch .container .box:hover button {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
}